---
import Icon from "./Icon.astro";
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon
			icon="terminal-window"
			color="var(--accent-regular)"
			size="2.5rem"
			gradient
		/>
		<h2>Soif de Connaissance</h2>
		<p>
			J'adore apprendre de nouvelles choses. Mon objectif est de monter en
			compétence sur des technologies qui me plaisent et, évidemment, de
			consolider mes bases.
		</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon
			icon="trophy"
			color="var(--accent-regular)"
			size="2.5rem"
			gradient
		/>
		<h2>Studieux</h2>
		<p>
			Je m'applique dans tout ce que j'entreprends, je fais un travail
			rigoureux et organisé, et surtout, je suis minutieux dans mes
			projets.
		</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon
			icon="strategy"
			color="var(--accent-regular)"
			size="2.5rem"
			gradient
		/>
		<h2>Audacieux</h2>
		<p>
			Je m'adapte à tout type d'environnement, j'ai une très bonne
			capacité de communication et je suis à l'écoute de ce que l'on me
			dit. Je n'hésite pas à prendre des initiatives lorsque je sens que
			c'est nécessaire.
		</p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
